header
	div.brand.d-flex.justify-content-center
		div.line
		h1 
			span s
			span i
			span l
			span v
			span e
			span r &nbsp;
			span p
			span o
			span i
			span n
			span t
			span s
		div.line
